.container{
    position: relative;
    bottom: 3rem;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    color: aliceblue;
    font-size: 0.8vw;
        &__words{
            animation:move 17000ms linear ;
        }
        &__words2{
            animation:move 10900ms linear ;
        }
        &__words3{
            animation:move 12000ms linear ;
        }
        &__words4{
            animation:move 11300ms linear ;
        }
        &__words5{
            animation:move 8600ms linear ;
        }
        &__words6{
            animation:move 8000ms linear ;
        }
        &__words7{
            animation:move 9999ms linear ;
        }
        &__words8{
            animation:move 9150ms linear ;
        }
        &__words9{
            animation:move 15000ms linear ;
        }
        &__words10{
            animation:move 11000ms linear ;
        }
        &__words11{
            animation:move 9050ms linear ;
        }
        &__words12{
            animation:move 8000ms linear ;
        }
        &__words13{
            animation:move 8300ms linear ;
        }
        &__words14{
            animation:move 10000ms linear ;
        }
        &__words15{
            animation:move 17000ms linear ;
        }
        &__words16{
            animation:move 13000ms linear ;
        }
    
}

.search{
    left: 33%;
    width: 31%;
    height: 50%;
    top: 1%;
    position: fixed;
}

.score{
    left: 78%;
    width: 30%;
    height: 50%;
    top: 2%;
    position: fixed;
    font-size: 3vw;
}

.timer{
    left: 77%;
    width: 30%;
    height: 50%;
    top: 8%;
    position: fixed;
    font-size: 3vw;
}

.retry{
    top: 3%;
    left: 76%;
    position: fixed;
    background-color: dimgray;
    height: 8%;
    width: 8%;
    font-size: 1.6vw;
    color: aliceblue;
    border: solid 0.3rem;
    border-radius: 6px;
}

.back{ 
    background-color: dimgray;
    position: fixed;
    background-size: cover;
    z-index: -1;
    min-width: 90rem;
    min-height: 71rem;
    bottom: 0rem;

}

.textBar{
    height: auto;
    width: 100%;
    font-size: 3vw;
    border-radius: 19px;
    position: relative;
    justify-content: center;
}

@keyframes move{
    100%{transform:translateY(1040px);}
  }