.container{
    position: relative;
    bottom: -15rem;
    display: flex;
    color: aliceblue;
    font-size: 0.8rem;
        &__words{
            animation:move 17000ms linear ;
        }
        &__words2{
            animation:move 10900ms linear ;
        }
        &__words3{
            animation:move 12000ms linear ;
        }
        &__words4{
            animation:move 11300ms linear ;
        }
        &__words5{
            animation:move 8600ms linear ;
        }
        &__words6{
            animation:move 8000ms linear ;
        }
        &__words7{
            animation:move 9999ms linear ;
        }
        &__words8{
            animation:move 9150ms linear ;
        }
        &__words9{
            animation:move 15000ms linear ;
        }
        &__words10{
            animation:move 11000ms linear ;
        }
        &__words11{
            animation:move 9050ms linear ;
        }
        &__words12{
            animation:move 8000ms linear ;
        }
    
}

.search{
    position: fixed;
    top: 0.5rem;
    left: 50rem;
}

.score{
    position: fixed;
    top: 1rem;
    left: 83rem;
    font-size: 1.6rem;
    color: aliceblue;
}

.timer{
    position: fixed;
    top: 3rem;
    left: 81rem;
    font-size: 1.6rem;
    color: aliceblue;
}

.retry{
    top: 2rem;
    right: 12rem;
    position: fixed;
    background-color: dimgray;
    height: 3rem;
    width: 7rem;
    font-size: 1.2rem;
    color: aliceblue;
    border: solid 4px;
    border-radius: 6px;
}

.back{ 
    background-color: dimgray;
    position: fixed;
    background-size: cover;
    z-index: -1;
    min-width: 90rem;
    min-height: 71rem;
    bottom: 0rem;

}

.textBar{
    height: 4rem;
    width: 17rem;
    font-size: 2rem;
    border-radius: 12px;
}

@keyframes move{
    100%{transform:translateY(1040px);}
  }

.cherry{
    animation:move 8300ms linear;
    color: aliceblue;
}

.fantastic{
    animation:move 10000ms linear;
    color: aliceblue;
}

.steady{
    animation:move 18000ms linear;
    color: aliceblue;
}

.wine{
    animation:move 13000ms linear;
    color: aliceblue;
}

.hurry{
    animation:move 8300ms linear;
    color: aliceblue;
}

.previous{
    animation:move 16000ms linear;
    color: aliceblue;
}

.practice{
    animation:move 8000ms linear;
    color: aliceblue;
}