.container {
  position: relative;
  bottom: -15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: aliceblue;
  font-size: 0.8rem;
}

.container__words {
  -webkit-animation: move 17000ms linear;
          animation: move 17000ms linear;
}

.container__words2 {
  -webkit-animation: move 10900ms linear;
          animation: move 10900ms linear;
}

.container__words3 {
  -webkit-animation: move 12000ms linear;
          animation: move 12000ms linear;
}

.container__words4 {
  -webkit-animation: move 11300ms linear;
          animation: move 11300ms linear;
}

.container__words5 {
  -webkit-animation: move 8600ms linear;
          animation: move 8600ms linear;
}

.container__words6 {
  -webkit-animation: move 8000ms linear;
          animation: move 8000ms linear;
}

.container__words7 {
  -webkit-animation: move 9999ms linear;
          animation: move 9999ms linear;
}

.container__words8 {
  -webkit-animation: move 9150ms linear;
          animation: move 9150ms linear;
}

.container__words9 {
  -webkit-animation: move 15000ms linear;
          animation: move 15000ms linear;
}

.container__words10 {
  -webkit-animation: move 11000ms linear;
          animation: move 11000ms linear;
}

.container__words11 {
  -webkit-animation: move 9050ms linear;
          animation: move 9050ms linear;
}

.container__words12 {
  -webkit-animation: move 8000ms linear;
          animation: move 8000ms linear;
}

.search {
  position: fixed;
  top: 0.5rem;
  left: 50rem;
}

.score {
  position: fixed;
  top: 1rem;
  left: 83rem;
  font-size: 1.6rem;
  color: aliceblue;
}

.timer {
  position: fixed;
  top: 3rem;
  left: 81rem;
  font-size: 1.6rem;
  color: aliceblue;
}

.retry {
  top: 2rem;
  right: 12rem;
  position: fixed;
  background-color: dimgray;
  height: 3rem;
  width: 7rem;
  font-size: 1.2rem;
  color: aliceblue;
  border: solid 4px;
  border-radius: 6px;
}

.back {
  background-color: dimgray;
  position: fixed;
  background-size: cover;
  z-index: -1;
  min-width: 90rem;
  min-height: 71rem;
  bottom: 0rem;
}

.textBar {
  height: 4rem;
  width: 17rem;
  font-size: 2rem;
  border-radius: 12px;
}

@-webkit-keyframes move {
  100% {
    -webkit-transform: translateY(1040px);
            transform: translateY(1040px);
  }
}

@keyframes move {
  100% {
    -webkit-transform: translateY(1040px);
            transform: translateY(1040px);
  }
}

.cherry {
  -webkit-animation: move 8300ms linear;
          animation: move 8300ms linear;
  color: aliceblue;
}

.fantastic {
  -webkit-animation: move 10000ms linear;
          animation: move 10000ms linear;
  color: aliceblue;
}

.steady {
  -webkit-animation: move 18000ms linear;
          animation: move 18000ms linear;
  color: aliceblue;
}

.wine {
  -webkit-animation: move 13000ms linear;
          animation: move 13000ms linear;
  color: aliceblue;
}

.hurry {
  -webkit-animation: move 8300ms linear;
          animation: move 8300ms linear;
  color: aliceblue;
}

.previous {
  -webkit-animation: move 16000ms linear;
          animation: move 16000ms linear;
  color: aliceblue;
}

.practice {
  -webkit-animation: move 8000ms linear;
          animation: move 8000ms linear;
  color: aliceblue;
}
/*# sourceMappingURL=Page.css.map */