.color{
    background-color: dimgray;
    position: fixed;
    background-size: cover;
    z-index: -1;
    min-width: 120rem;
    min-height: 71rem;
    bottom: 0rem;
    right: .009rem;
}

.home-button{
    position: fixed;
    top: 2%;
    background-color: dimgray;
    height: 12%;
    width: 15%;
    font-size: 4vw;
    color: aliceblue;
    border: solid 4px;
    border-radius: 6px;
    left: 44%;
}

.how-title{
    position: fixed;
    justify-content: center;
    top: 33%;
    color: aliceblue;
    font-size: 4vw;
    left: 41%;
}

.info{
    color: aliceblue;
    border: solid 4px;
    border-radius: 6px;
    position: fixed;
    width: 71%;
    height: auto;
    top: 44%;
    left: 12%;
    font-size: 4.5vw;
    padding: 2.5rem;
}